<div class="scroll">
    <div class="scroll__scroller">
      {{> @partial-block }}
    </div>
    <div class="scroll__track scroll__track_v">
        <div class="scroll__bar scroll__bar_v"></div>
    </div>
    <div class="scroll__track scroll__track_h">
        <div class="scroll__bar scroll__bar_h"></div>
    </div>
</div>
