<div class="rating-list">
  <div class="rating-list__head">
    <table class="rating-list__table">
      <thead>
        <tr>
          <th class="rating-list__col rating-list__col_head rating-list__col_position rating-list__col_position-head">#</th>
          <th class="rating-list__col rating-list__col_head rating-list__col_name">Имя</th>
          <th class="rating-list__col rating-list__col_head rating-list__col_rank">Ранг</th>
          <th class="rating-list__col rating-list__col_head rating-list__col_value rating-list__col_value-head" colspan="2">Рейтинг</th>
          <th class="rating-list__col rating-list__col_head rating-list__col_favorite"></th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="rating-list__body">
    {{#> modules/common/scroll/index }}
      <table class="rating-list__table">
        <tbody class="rating-list__table-body"></tbody>
      </table>
    {{/ modules/common/scroll/index }}
  </div>
</div>
