<div class="rating-list">
  <table class="rating-list__table">
    <thead class="rating-list__head">
      <tr>
        <th class="rating-list__col rating-list__col_head rating-list__col_position">#</th>
        <th class="rating-list__col rating-list__col_head rating-list__col_position-change"></th>
        <th class="rating-list__col rating-list__col_head rating-list__col_name">Имя</th>
        <th class="rating-list__col rating-list__col_head rating-list__col_rank">Ранг</th>
        <th class="rating-list__col rating-list__col_head rating-list__col_value">*</th>
        <th class="rating-list__col rating-list__col_head rating-list__col_value-change"></th>
        <th class="rating-list__col rating-list__col_head rating-list__col_favorite"></th>
      </tr>
    </thead>
  </table>
  <table class="rating-list__table">
    <tbody class="rating-list__body"></tbody>
  </table>
</div>
