<div class="layout-scheme">
  <input class="layout-scheme__checkbox" id="layout-scheme-checkbox" name="layout-scheme-checkbox" type="checkbox">
  <label class="layout-scheme__label" for="layout-scheme-checkbox">layout-scheme</label>
</div>
