<div class="layout-scheme">
  <input class="layout-scheme__checkbox" id="layout-scheme-checkbox" name="layout-scheme-checkbox" type="checkbox">
  <label class="layout-scheme__label layout-scheme__label_auto" for="layout-scheme-checkbox">
    {{> modules/common/svg-icon/index src="icons/adjust-contrast.svg" }}
  </label>
  <label class="layout-scheme__label layout-scheme__label_dark" for="layout-scheme-checkbox">
    {{> modules/common/svg-icon/index src="icons/weather-night.svg" }}
  </label>
  <label class="layout-scheme__label layout-scheme__label_light" for="layout-scheme-checkbox">
    {{> modules/common/svg-icon/index src="icons/weather-sunny.svg" }}
  </label>
</div>
