.rating-list-item-favorite {
  display: flex;
  align-items: center;

  &__input {
    display: none;
  }

  &__label {
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    line-height: 0;
  }

  &__input:checked ~ &__label_off {
    display: none;
  }

  &__input:not(:checked) ~ &__label_on {
    display: none;
  }
}
