<div class="rating-container">
  <div class="rating-container__list">
    {{#> modules/common/scroll/index }}
      {{> modules/rating/list/index }}
    {{/ modules/common/scroll/index }}
  </div>
  <div class="rating-container__loader rating-container__loader_hide">
    {{> modules/rating/list-loader/index }}
  </div>
</div>
