<div class="rating-container">
  <div class="rating-container__list">
    {{> modules/rating/list/index }}
  </div>
  <div class="rating-container__loader">
    {{> modules/rating/list-loader/index }}
  </div>
</div>
