.rating-container {
  flex-basis: auto;
  flex-grow: 1;
  position: relative;

  &__list {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  &__loader {
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
