<table class="header">
  <tbody>
    <tr class="header__row header__row_title">
      <td class="header__col header__col_season">Рейтинг</td>
      <td class="header__col header__col_last">События</td>
      <td class="header__col header__col_favorite">Игроки</td>
    </tr>
    <tr class="header__row header__row_data">
      <td class="header__col header__col_season">Общий</td>
      <td class="header__col header__col_last">Все</td>
      <td class="header__col header__col_favorite">Все</td>
    </tr>
  </tbody>
</table>
