@import (reference) 'src/style/mixins';

.header {
  @spread: 20px;
  @blur: 20px;
  @offset: -30px;

  background-color: @c-primary-7;
  color: @c-primary-2;
  font-size: 36px;
  line-height: 48px;
  overflow: hidden;
  padding: 8px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1;
}
