@import (reference) 'src/style/mixins';

.navigation-item {
  &__radio {
    display: none;
  }

  @nav-size: 64px;
  @icon-size-default: 32px;
  @icon-size-active: 48px;
  @icon-offset-default: (@nav-size - @icon-size-default) / 2;
  @icon-offset-active: (@nav-size - @icon-size-active) / 2;

  &__label {
    cursor: pointer;
    display: block;
    font-size: @icon-size-default;
    line-height: 0;
    padding: @icon-offset-default;
    text-align: center;
    transition: all 300ms ease;
    width: @nav-size;
  }

  &__radio:checked ~ &__label {
    color: @c-primary-4;
    font-size: @icon-size-active;
    line-height: 0;
    padding: @icon-offset-active;
    transition: all 100ms ease;
  }
}
