<div class="rating-list-loader">
  <div class="rating-list-loader__inner">
    <div class="rating-list-loader__item rating-list-loader__item_1"></div>
    <div class="rating-list-loader__item rating-list-loader__item_2"></div>
    <div class="rating-list-loader__item rating-list-loader__item_3"></div>
  </div>
</div>
