@import (reference) 'src/style/mixins';

.rating-list-loader {
  background-color: @c-white-9;
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &__inner {
    margin: auto;
  }
}
