<div class="layout">
  <div class="layout__header">
    {{#> layout-header}}{{/layout-header}}
  </div>
  <div class="layout__scroll">
    {{#> modules/common/scroll/index }}
      <div class="layout__body">
        {{> @partial-block }}
      </div>
    {{/ modules/common/scroll/index }}
  </div>
  <div class="layout__footer">
    {{#> layout-footer}}{{/layout-footer}}
  </div>
</div>
