<div class="navigation">
  <div class="navigation__item">
    {{#> modules/layout/navigation-item/index name="view" value=navigation.home }}
      {{> modules/common/svg-icon/index src="icons/home.svg" }}
    {{/ modules/layout/navigation-item/index }}
  </div>
  <div class="navigation__item">
    {{#> modules/layout/navigation-item/index name="view" value=navigation.last }}
      {{> modules/common/svg-icon/index src="icons/calendar.svg" }}
    {{/ modules/layout/navigation-item/index }}
  </div>
  <div class="navigation__item">
    {{#> modules/layout/navigation-item/index name="view" value=navigation.favorite }}
      {{> modules/common/svg-icon/index src="icons/star-full-outline.svg" }}
    {{/ modules/layout/navigation-item/index }}
  </div>
</div>
