<div class="navigation">
  <div class="navigation__item">
    🏠
  </div>
  <div class="navigation__item">
    📆
  </div>
  <div class="navigation__item">
    ⭐
  </div>
  <div class="navigation__item">
    🔍
  </div>
</div>
