<div class="navigation">
  <button class="navigation__item">
    🏠
  </button>
  <button class="navigation__item">
    📆
  </button>
  <button class="navigation__item">
    ⭐
  </button>
  <button class="navigation__item">
    🔍
  </button>
</div>
