@import (reference) 'src/style/mixins';

.footer {
  @blur: 10px;
  @offset: @blur;

  background-color: @c-black-10;
  box-shadow: 0 @blur @blur @offset @c-black-6;
  position: relative;
  z-index: 1;
}
